/*.mpls{*/
/*    font-family: 'M PLUS 2', sans-serif;*/
/*}*/
/*.atkn{*/
/*    font-family: 'Atkinson Hyperlegible', sans-serif;*/
/*}*/
/*.ubnt{*/
/*    font-family:  'Ubuntu', sans-serif;*/
/*}*/
.texts{
    font-family: 'M PLUS 2', sans-serif;
    color: rgba(117, 0, 187, 1);
}
.nav2head{
    display: flex;
    align-items: start;
    flex-direction: column;
}